<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Univer.Properties.Settings.UnivConnectionString" connectionString="Data Source=.;Initial Catalog=Univ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>